@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #e0e0e0;
}

a {
  color: #000;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.form {
  position: fixed;
  width: 450px;
  height: 600px;
  padding: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form h3 {
  font-size: 26px;
  line-height: 33.8px;
  margin-bottom: 40px;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form form .input_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form form .input_block label {
  margin-bottom: 7px;
  font-weight: bold;
}

.form form .input_block:last-child {
  margin-bottom: 0;
}

.form form .input_block input[type=text], .form form .input_block input[type=phone] {
  width: 350px;
  height: 50px;
  padding: 13.5px 20px;
  border: 1px solid rgba(25, 25, 25, 0.1);
  color: #191919;
  font-size: 16px;
}

.form form .input_block input[type=text]::-webkit-input-placeholder, .form form .input_block input[type=phone]::-webkit-input-placeholder {
  color: rgba(25, 25, 25, 0.3);
}

.form form .input_block input[type=text]:-ms-input-placeholder, .form form .input_block input[type=phone]:-ms-input-placeholder {
  color: rgba(25, 25, 25, 0.3);
}

.form form .input_block input[type=text]::-ms-input-placeholder, .form form .input_block input[type=phone]::-ms-input-placeholder {
  color: rgba(25, 25, 25, 0.3);
}

.form form .input_block input[type=text]::placeholder, .form form .input_block input[type=phone]::placeholder {
  color: rgba(25, 25, 25, 0.3);
}

.form form .input_block .error {
  color: #E12828;
  margin-top: 10px;
  display: none;
}

.form form .input_block .error.active {
  display: block;
}

.form form .checkbox_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form form .checkbox_block input {
  display: none;
}

.form form .checkbox_block input:checked {
  display: none;
}

.form form .checkbox_block input:checked + label::after {
  width: 6.75px;
  height: 6.75px;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  background-color: #191919;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form form .checkbox_block label {
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin-bottom: 0;
  margin-right: 10px;
}

.form form .checkbox_block label::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  border: 1px solid rgba(25, 25, 25, 0.2);
}

.form form input[type=submit] {
  width: 293px;
  height: 55px;
  font-weight: bold;
  color: #191919;
  font-size: 18px;
  background-color: #FFD741;
  cursor: pointer;
}

.form form input:disabled {
  background-color: rgba(25, 25, 25, 0.2);
}

.thanks {
  width: 450px;
  height: 405px;
  padding: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.thanks h3 {
  font-size: 26px;
  line-height: 33.8px;
  padding-bottom: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.thanks p {
  padding-bottom: 40px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
}

.thanks a {
  width: 293px;
  height: 55px;
  background-color: #FFD741;
  color: #131313;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .close, .thanks .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */